*{
  margin: 0px;
  padding: 0px;
}
.App {
  text-align: center;
  width: 100%;
  display: block;
  background-color:white;
}
.scroll{
  
  width: 100%;
  justify-content: center;
  display: flex;
  background-color:white;
  padding: 5px 25px;
  overflow-y: break-word;
}
.App .scroll .scroll2{
  
  width: 100%;
  justify-content: center;
  display: flex;
  background-color:white;
 padding: 5px 25px;
}
.App2 {
  width: 100%;
  display:block;
}

.App .App-header .App-logo {
  margin: 4rem 0;
  width: 195px;
}
img {
  height: auto;
  max-width: 100%;
}

.App .App-header {
 -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3rem 1.5rem;
    margin: 0 auto;
    position: relative;
    width: auto;
    -webkit-box-pack: center;
    justify-content: center;
    display: block;
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;

}

.App .App-header .p_tag {
  color: black;
  display: block;
  font-size: 50px;
  padding: 0.8rem;
   
}
.color{
  background-color: #61dafb;
  position: sticky;
}
.App .App-header .p_tag2 {
  color: black;
  font-size: large;
  display: block;
  font-weight: 300;
  padding: 0.8rem;
}
.App .about_me{
  width: 100%;
  padding-top: 27px;

}
.App .summary{
  width: 100%;
  display: flex;
  background-color: #7510F7;
  
  color: white;

  
}
.App .summary .summary2{
  width: 100%;
  padding: 6rem 4rem;
}

.App .summary .summary_text{
 
  font-family: "europa", sans-serif;
  font-weight: 300;
  line-height: 1.2;
}
.App .summary .summary_text2{
  
  font-family: "europa", sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

.App .about_me .table_img{
  margin-bottom: -0.3rem;
}

.App-link {
  color: #61dafb;
}
.name{
  color:#7510F7;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
